__pycache__/
output
venv
old
/models/
training_plots
/data/
tta_plots
comparison_plots
quick_test_results
evaluation_plots
models_and_plots_backup
comprehensive_results/
comprehensive_results/plots
rl_image_tools/output_images